html, body {
    padding: 0;
    margin: 0;
    font-family: Gotham, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    width: calc(100vw - 10px);
    height: 30px;
    padding: 15px 0 20px 20px;
    font-size: 45px;
    font-style: italic;
    font-family: "Poor Richard", cursive, sans-serif;
    line-height: 30px;
    font-weight: bold;
    color: rebeccapurple;
    background-color: lightgreen;
    text-align: center;
    
}
img {
    float: left;
}
    header span {
        vertical-align: middle;
    }

    header img {
        height: 30px;
        vertical-align: middle;
    }

.searchPanel {
    position: relative;
    width: 350px;
}

    .searchPanel div {
        padding: 20px;
    }

    .searchPanel input {
        width: calc(100% - 50px);
        font-size: 16px;
        border: 0;
        border-bottom: 1px solid #ccc;
    }

#listPanel {
    position: absolute;
    top: 135px;
    left: 0px;
    width: 350px;
    height: calc(100vh - 135px);
    overflow-y: auto;
}

#myMap {
    position: absolute;
    top: 65px;
    left: 350px;
    width: calc(100vw - 350px);
    height: calc(100vh - 65px);
}

.statusMessage {
    margin: 10px;
}

#myLocationBtn, #searchBtn {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    line-height: 32px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    z-index: 200;
}

#myLocationBtn {
    position: absolute;
    top: 150px;
    right: 10px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.16);
    background-color: white;
    background-image: url("images/GpsIcon.png");
}

    #myLocationBtn:hover {
        background-image: url("images/GpsIcon-hover.png");
    }

#searchBtn {
    background-color: transparent;
    background-image: url("images/SearchIcon.png");
}

    #searchBtn:hover {
        background-image: url("images/SearchIcon-hover.png");
    }

.listItem {
    height: 50px;
    padding: 20px;
    font-size: 14px;
}

    .listItem:hover {
        cursor: pointer;
        background-color: #f1f1f1;
    }

.listItem-title {
    color: darkgreen;
    font-weight: bold;
}

.storePopup {
    min-width: 150px;
}

    .storePopup .popupTitle {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 8px;
        height: 30px;
        background-color: lawngreen;
        color: black;
        font-weight: bold;
    }

    .storePopup .popupSubTitle {
        font-size: 10px;
        line-height: 12px;
    }

    .storePopup .popupContent {
        font-size: 11px;
        line-height: 18px;
        padding: 8px;
    }

    .storePopup img {
        vertical-align: middle;
        height: 12px;
        margin-right: 5px;
    }

/* Adjust the layout of the page when the screen width is less than 800 pixels. */
@media screen and (max-width: 700px) {
    .searchPanel {
        width: 100vw;
    }

    #listPanel {
        top: 385px;
        width: 100%;
        height: calc(100vh - 385px);
    }

    #myMap {
        width: 100vw;
        height: 250px;
        top: 135px;
        left: 0px;
    }

    #myLocationBtn {
        top: 220px;
    }
}

.mapCenterIcon {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: Purple;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 204, 255, 0.4);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 204, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 50px rgba(0, 204, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 204, 255, 0);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*New bouncy thingy

.pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #00cae9;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.pin:after {
    content: "";
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #e6e6e6;
    position: absolute;
    border-radius: 50%;
}

.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.pulse {
    background: #d6d4d4;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;
}

    .pulse:after {
        content: "";
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin: -13px 0 0 -13px;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
        box-shadow: 0 0 1px 2px #00cae9;
        animation-delay: 1.1s;
    }

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        transform: translateY(0) rotate(-45deg);
    }
}*/